doctype html
html(lang='en')
    head
        title Books Store Api
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous")

.container.mt-4
    div.col-12.grid-margin.mt-2
        h4.text-primary.mb-3 Books Store Api User Registration 
        div.card
            div.row
                div.col-md-9
                    div.card-body
                        form(role='form' action="/register" method="post")
                            div.form-group 
                                label(for="firstname") First name 
                                input.form-control(type="text" name="firstName" placeholder="first name" id="firstname" required)
                            div.form-group
                                label(for="lastname" ) Last name
                                input.form-control(type="text" name="lastName" placeholder="last name" id="lastname" required)
                            div.form-group
                                label(for="email") Email 
                                input.form-control(type="email" name="email" id="email" required)
                            div.form-group
                                label(for="login") Login mail
                                input.form-control(type="email" name="login" id="login" required)
                            div.form-group
                                label(for="password") Password
                                input.form-control(type="password" name="password" id="password" required)
                            button.btn.btn-primary(type="submit") Register